<!doctype html>
<html lang="en">
<head>
  <style>
    body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color: #f4f4f9;
      color: #333;
      margin: 0;
      padding: 0;
    }

    h1 {
      text-align: center;
      color: #333;
      padding: 20px;
    }

    div {
      margin: 20px auto;
      padding: 20px;
      max-width: 800px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    form {
      display: flex;
      flex-direction: column;
    }

    label {
      font-weight: bold;
      margin-bottom: 10px;
    }

    input[type="text"] {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-bottom: 10px;
      font-size: 16px;
    }

    button {
      padding: 10px;
      border: none;
      border-radius: 4px;
      background-color: #007bff;
      color: #fff;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    button:hover {
      background-color: #0056b3;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    th, td {
      padding: 10px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    th {
      background-color: #007bff;
      color: #fff;
    }

    tr:nth-child(even) {
      background-color: #f9f9f9;
    }

    tr:hover {
      background-color: #f1f1f1;
    }
  </style>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home Page</title>
</head>
<body>
  <h1>Dashboard</h1>
  <% if (locals.id) { %>
    <div>
      <p>URL Generated: <a href="http://localhost:8000/api/v1/url-shortner/<%=id %>" target="_blank">http://localhost:8000/api/v1/url-shortner/<%=id %></a></p>
    </div>
  <% } %>
  <div>
    <form method="post" action="/api/v1/url-shortner/">
      <label>Enter your original URL</label>
      <input
        type="text"
        name="redirectUrl"
        placeholder="https://example.com"
      />
      <button type="submit">Generate</button>
    </form>
  </div>
  <div>
    <% if (locals.urls) { %>
      <table>
        <thead>
          <tr>
            <th>S. No</th>
            <th>Short ID</th>
            <th>Redirect URL</th>
            <th>Clicks</th>
          </tr>
        </thead>
        <tbody>
          <% urls.forEach((url, index) => { %>
            <tr>
              <td><%= index + 1 %></td>
              <td><%= url.short_id %></td>
              <td><%= url.redirect_url %></td>
              <td><%= url.visits.length %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    <% } %>
  </div>
</body>
</html>
